// 默认浅色主题
:root {
  --background-color: #{$oc-gray-0};
  --background-lighten-color: #{$oc-gray-1};
  --text-color: #{$base-color};
  --link-color: #{$oc-blue-8};
  --link-lighten-color: #{$oc-blue-6};
  --link-bghv-color: #{$oc-blue-0};
  --divider-color: #{$oc-gray-1};
  --blockquote-color: #{$base-lighten-color};
  --blockquote-border-color: #{$oc-gray-3};
  --table-border-color: #{$oc-gray-2};
  --table-background-color: #{$oc-gray-1};
  --footer-border-color: #{$oc-gray-2};
  --footer-background-color: #{$oc-gray-0};
  --selection-background-color: #{$oc-gray-3};
  --tag-index-label-background-color: #{$oc-gray-2};
  --tag-index-count-background-color: #{$oc-gray-1};
}

// 深色主题
.dark-theme {
  --background-color: #{$oc-gray-9};
  --background-lighten-color: #{$oc-gray-8};
  --text-color: #{$oc-gray-0};
  --link-color: #{$oc-blue-2};
  --link-lighten-color: #{$oc-blue-3};
  --link-bghv-color: #{$oc-blue-9};
  --divider-color: #{$oc-gray-8};
  --blockquote-color: #{$oc-gray-3};
  --blockquote-border-color: #{$oc-gray-7};
  --table-border-color: #{$oc-gray-7};
  --table-background-color: #{$oc-gray-8};
  --footer-border-color: #{$oc-gray-7};
  --footer-background-color: #{$oc-gray-9};
  --selection-background-color: #{$oc-gray-6};
  --tag-index-label-background-color: #{$oc-gray-7};
  --tag-index-count-background-color: #{$oc-gray-8};
}

// 浅色主题（当用户显式切换时使用）
.light-theme {
  --background-color: #{$oc-gray-0};
  --background-lighten-color: #{$oc-gray-1};
  --text-color: #{$base-color};
  --link-color: #{$oc-blue-8};
  --link-lighten-color: #{$oc-blue-6};
  --link-bghv-color: #{$oc-blue-0};
  --divider-color: #{$oc-gray-1};
  --blockquote-color: #{$base-lighten-color};
  --blockquote-border-color: #{$oc-gray-3};
  --table-border-color: #{$oc-gray-2};
  --table-background-color: #{$oc-gray-1};
  --footer-border-color: #{$oc-gray-2};
  --footer-background-color: #{$oc-gray-0};
  --selection-background-color: #{$oc-gray-3};
  --tag-index-label-background-color: #{$oc-gray-2};
  --tag-index-count-background-color: #{$oc-gray-1};
} 