@import "{{ site.theme }}";
@import "../../style.scss";

// Override any theme styles with custom styles
.wrapper-sidebar {
  width: 30%;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: #f8f9fa;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 4;
  border-right: 1px solid #eee;
}

.wrapper-content {
  float: right;
  width: 70%;
}

@media (max-width: 768px) {
  .wrapper-sidebar {
    width: 100%;
    height: auto;
    padding-bottom: 24px;
    position: relative;
    border-bottom: 1px solid #eee;
    border-right: 0;
  }
  
  .wrapper-content {
    float: none;
    width: 100%;
  }
} 